<meta name="viewport" content="width=480">
<div class="musics_index_container">
  <h1>ミリシタ譜面ビューア</h1>
  <p>
    PCなどでも動作しますが、スマホなどの縦画面端末推奨です<br>
    (Smartphone portrait is recommended.)<br>
    Android版ChromeおよびiOS版Safari最新版にて動作確認済<br>
    問題などがあれば作者のTwitter(<a target="_blank" href="https://twitter.com/hyrorre">@hyrorre</a>)まで
  </p>
  <h2>曲一覧</h2>
  <div id="itemLists">
    <details>
      <summary>Search, Sort</summary>
      <h5>Search</h5>
      <input type="text" class="search" placeholder="検索"><br>

      <h5>Sort</h5>
      <button class="sort" data-sort="order">Default</button>
      <button class="sort" data-sort="kana">Title</button>
      <button class="sort" data-sort="musictype">Type</button>
      <button class="sort" data-sort="diffnum0">2M</button>
      <button class="sort" data-sort="diffnum1">2M+</button>
      <button class="sort" data-sort="diffnum2">4M</button>
      <button class="sort" data-sort="diffnum3">6M</button>
      <button class="sort" data-sort="diffnum4">MM</button>
      <button class="sort" data-sort="added_on">Date</button>

      <h5>Other</h5>
      <label><input id="date_sw" type="checkbox"> 楽曲追加日を表示</label>
    </details>

    <ul id="musiclist" class="list">
      <% @musics.each_with_index do |music, j| %>
        <li>
          <%= image_tag("jackets/#{music.idstr}.jpg", :class => "jacket") %>
          <h3 class="title"><%= music.title %></h3>
          <%= image_tag("musictypes/#{music.musictype}.png", :class => "musictypeimage") %>
          <table class="scoretable">
            <tr>
              <% for i in 0..4 do %>
                <th><%= @difficulty_str[i] %></th>
              <% end %>
            </tr>
            <tr>
              <% for i in 0..4 do %>
                <td class="diff<%= i %> bms_exist_<%= @bms_exist[music.idstr][i] %>">
                  <%= link_to @levels[music.idstr][i], musics_show_path(music.idstr, i) %>
                </td>
                <p class="diffnum diffnum<%= i %>"><%= @levels[music.idstr][i] %></p>
              <% end %>
            </tr>
          </table>
          <p class="added_on"><%= music.added_on %></p>
          <p class="kana"><%= music.kana %></p>
          <p class="order"><%= music.order %></p>
          <p class="musictype"><%= music.musictype %></p>
          <% if j % 10 == 4 %>
            <script type="text/javascript">
              var nend_params = {"media":41408,"site":287098,"spot":838045,"type":10,"oriented":1};
            </script>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
